*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --cell-size: 100px ;
    --mark-size: calc(var(--cell-size) * .9);
}

body{
    margin: 0;
    background-color: bisque;
}

#mainTitle{
    margin-top: 2ex;
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: grey;
}

.board{
    width: 100vw;
    height: 50vh ;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);

}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: black; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:nth-child(-n+3) {
    border-top: none;
}
.cell:nth-child(3n+1) {
    border-left: none;
}
.cell:nth-child(3n) {
    border-right: none;
}
.cell:nth-child(n+7) {
    border-bottom: none;
}

/* cursor and hover functionality css */

.cell.x,
.cell.circle{
cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
    background-color: darkred;
}
.cell.circle::before,
.cell.circle::after{
    background-color: darkcyan;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: lightslategray;
}

/* cross css */

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}



/* Circle ccs */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .65);
    height: calc(var(--mark-size) * .65);
    background-color: bisque;
}


.winning-message {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0, .9);
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
    flex-direction: column;
}


.winning-message button{
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
    margin: 0.5rem;
    margin-top: 1em;
    padding: 0.5em 0.25em;
    cursor: pointer;
    border-radius: 15%;
    background-color: rgb(185, 184, 184);
}
.winning-message button:hover{
    background-color: rgb(131, 129, 129);
    color: white;
}

.winning-message.show{
    display: flex;
}
